.DS_Store
nohup.out
*.zip
*.tar.bz2
*.tbz2
*.bak
.*
kern/*
cache/0
cache/1
cache/2
cache/3
cache/4
cache/5
cache/6
cache/7
cache/8
cache/9
cache/a
cache/b
cache/c
cache/d
cache/e
cache/f
cache/*.hmd
cache/indexes
logs/*
cache/purged/*
